body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding-top: 0;
    overflow-y: scroll;
    color: #525252;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100%;
}

#main {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    min-height: calc(100% - 56px);
    position: relative;
}



#content {
    padding: 2em 0;
    min-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-align: center;
    padding-bottom: 44px;
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: calc(100% - 56px);
    padding-top: 10px; 
}


user agent stylesheet
div {
    display: block;
}
html {
    color: -internal-root-color;
}





    /*div ==0*/
.quiz-preview #main, .quiz-preview #content, #content>DIV, .quiz-take-cols {
        height: 100%;
}



/*wide title     poll??*/
.wide.title {
    text-align: center;
}
.wide {
    clear: both;
    width: 100%;
    text-align: center;
}
.poll, .title {
    position: relative;
    border-bottom: solid 0 #adadad;
    color: #fff;
    background: #1b6491;
}



/* class: quiz-take-cols*/
.quiz-preview #main, .quiz-preview #content, #content>DIV, .quiz-take-cols {
    height: 100%;
}
.quiz-take-cols {
    background-color: #eaeaea;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*class: quiz-take-c1*/

.quiz-take-c1 {
    display: inline-block;
    width: 705px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #e0e8e8;
    border-top: none;
    border-right: none;
    width: calc(100% - 335px);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}



/*quiz-container*/
.quiz-container {
    position: relative;
    margin: 0 auto;
    max-width: 793px;
}


/*copy from test*/


/*buttons*/
.qp_table.qp_grid TR:not(:last-of-type) .qp_a {     /*nichts*/
    margin-bottom: 0;
}
.qp_grid .qp_a {                 /*nichts*/
    margin: 0px!important;
}

.qp_a {                   /*umrandungen um altersbuttons*/
    clear: both;
    padding: 40px 5px;
    margin: .3em 0;
    display: block;
    color: #353535;
    background: #f4f4f4;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 1.2em;
    line-height: 1;
    cursor: hand;
}

.qp_table {          /*breite der Altersbuttons*/
    width: 100%;
    border-spacing: 0;
    margin-top: 2px;
    border-width: 0px;
}

user agent stylesheet       /*nichts*/
table {
    border-collapse: separate;
    border-spacing: 2px;
}



/*next button*/          
.qp_btn {                   /*next button, jedoch ganze breite*/
    width: 100%;
    height: 50px;
    margin: 1em 0 0;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    -webkit-appearance: none;
    background: #1991ff;
    font-size: 20px;
    font-family: 'Roboto Condensed',sans-serif;
    border: 1px solid #0d8bff;
}

INPUT, TEXTAREA {                          /*nichts*/
    font-family: 'open sans',sans-serif;
}


user agent stylesheet               /*NICHTS*/
input[type="button" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

user agent stylesheet            /*nichts*/
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

a {                         /*links*/
    color: #0080f6;
    text-decoration: none;
}

user agent stylesheet       /*nichts*/
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.qp_bo {                   /*nichts*/
    clear: both;
    padding-left: 0;
    text-align: center;
}

.qp_hrb {
    float: none;
    width: 50%;
    padding-left: 5px;
    display: inline-block;
    max-width: 140px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-decoration: none;
}




/*unterschrift bild*/
.qp_imgi {                /*fläche für bild*/
    width: 100%;
}

.qp-subtab-c[tabs='1']>DIV.sel {   /*auch bei next-button*/ /*nichts*/
    pointer-events: all;
    opacity: 1;
    left: auto;
    visibility: visible;
    position: static;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}

.qp-subtab-c[tabs='1']>DIV {      /*auch bei next-button*/    /*nichts*/
    pointer-events: none;
    opacity: 0;
    left: -100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
}
